@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<form action="post">
    <label>Imię: </label><input type="text" name="Imie" id="Imie" /><br />
    <label>Nazwisko: </label><input type="text" name="Nazwisko" id="Nazwisko" /><br />
    <label>Hasło: </label> <input type="password" name="Haslo" id="Haslo" /><br />
    <input type="submit" /> <input type="reset" />
</form>
